<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../component/css/body'); %>
    <%- include('../component/css/navbar'); %>
    <title><% {address} %></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Saepul Millah" />
    <meta name="description" content="Bergu app p2p" />
    <meta name="keywords" content="p2p,coin,duit" />  
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />

</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <!-- <img src="path/to/your/logo.png" alt="Logo"> -->
            <span>bergu</span>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/layanan">whitepaper</a>
            <a href="/dashboard" id="dashboarduser"> </a>       
            <a href="/login" id="loginLogoutLink">login</a>       
        </div>

    </div>

            
    <div>


        <div>
            <div class="login-container">
                <div class="container">
                    <!-- <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:90px"> -->
                    <div class="card">
                        <div id="qrcode" class="imgqr"></div>
                    </div>
                    
                        <!-- <div id="balIDR" style="margin-bottom: 5px;"></div> -->
                        <div id="balBERGU" style="margin-bottom: 5px;"></div>
                        <!-- <span><%= address %></span><br><br>   -->
                    <span id="alamat" style="color: brown; font-size: 10px;"><% {address} %></span><br>
                  </div>
      
                    <div class="container">
                        
                        <div><br>
                            <span>history user</span><br><br>
                            
                                <table id="transactionTable">
                                    <thead>
                                        <tr>
                                            <th>txhash</th>
                                            <th>date time</th>
                                            <th>Opt</th>
                                            <th>Value</th>
                                            <th>C</th>
                                            <th>Sender</th>
                                            <th>Receiver</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                           
                        </div>
        
                    </div>
                </div>         
            </div>
    

        <%- include('../component/js/params'); %>
        <%- include('../component/js/cek_token'); %>
    </div>
</body>
</html>
